<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ContactListAppSuite"  verbose="3">
    <listeners>
        <listener class-name="utils.Listener" />
    </listeners>

    <test name="LoginTest">
        <parameter name="browser" value="firefox"/>
        <parameter name="url" value="https://adactinhotelapp.com"/>
        <classes>
        	 <class name="test.TC_001_LoginTest"/>
            <class name="test.TC_002_LoginNegativeTests"/>
            <class name="test.TC_003_VerifyInvalidCheckInDateTest"/>
        	<class name="test.TC_004_VerifyPastDateTest"/>
        	<class name="test.TC_005_VerifyDateRetentionTest"/>
           
            
        </classes>
    </test>

   
</suite>
